<div class="mainArea">
  <div class="pdfViewer">
    <ngx-extended-pdf-viewer
      #ngxPdfViewer
      [listenToURL]="false"
      [src]="pdfSrc"
      [useBrowserLocale]="true"
      [(page)]="currPageNumber"
      (pageChange)="onPageChange($event)"
      [textLayer]="true"
      (textLayerRendered)="textLayerRendered($event)"
      [zoom]="'page-fit'"
      (sidebarVisibleChange)="calcScaling()"
      (pagesLoaded)="pagesLoadComplete($event)"
      (pdfLoaded)="pdfLoaded($event)"
      (pdfLoadingFailed)="pdfLoadFailed($event)"
      (pageRendered)="pageRendered($event)"
      [ignoreKeys]="['1', '2', 'w', 's', 'space']"
      [enablePinchOnMobile]="true"
      [showBorders]="false"
      [pageViewMode]="'multiple'"
      [height]="'100%'"
      [handTool]="false"
      [authorization]="true"
    ></ngx-extended-pdf-viewer>
  </div>

  <div class="annotationsColumn">
    <h2>Annotations</h2>
    <canvas style="display: none" #previewCanvas></canvas>
    <div *ngFor="let annotations of annotationForPage | keyvalue" class="pageDiv" [ngClass]="{'currentPage': annotations.key === this.currPageNumber}">
      <h3 class="pageTitle">Page {{ annotations.key }}</h3>
      <app-annotation
        *ngFor="let annotation of annotations.value"
        [annotation]="annotation"
        [documentID]="documentid"
        (showInDocument)="scrollToAnnotation({ annotationID: $event, where: 'both' })"
        (deleteAnnotation)="deleteAnnotation($event.id)"
        (updateAnnotation)="updateAnnotation($event)"
      >
      </app-annotation>
    </div>
  </div>

  <div class="card cardColumn" #cardsDiv>
    <h2>Cards</h2>
    <div class="currentCardActions">
      <button class="finishButton" mat-raised-button color="primary" (click)="finishCard()" i18n>
        New Card
      </button>
        <br>
      <mat-button-toggle-group class="currentCardSideToggle">
        <mat-button-toggle 
        [checked]="this.frontSelected"
        (change)="this.frontSelected = !this.frontSelected;"
        i18n >
          Front
        </mat-button-toggle>
        <mat-button-toggle
        [checked]="!this.frontSelected"
        (change)="this.frontSelected = !this.frontSelected;" i18n>
          Back
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <app-card class="currentCard"
    [active]="true"
    [card]="currentCard"
    [frontActive]="this.frontSelected"
    (deleteAnnotation)="deleteAnnotation($event.annotationID)"
    (scrollToAnnotation)="scrollToAnnotation($event)"
    [deckName]="this.dataService.config.deckName"
  ></app-card>
  <div class="otherCardsDiv">
    <app-editor-flip-card [id]="'CARD_'+card.$id" #flipCard class="staticCards" *ngFor="let card of cards;trackBy:getCardId"[card]="card" (edit)="this.updateCard($event);cardsDiv.scrollTo({top:0, behavior: 'smooth'})" (delete)="this.deleteCard(card)" (scrollToAnnotation)="scrollToAnnotation($event)"></app-editor-flip-card>
  </div>
   
  </div>
</div>
<div
  id="selectionTools"
  #selectionTools
  class="toolsInvisble"
  [ngClass]="{ toolsVisible: !getSelection() }"
>
    <button mat-icon-button (click)="addHighlightForSelection()">
      <mat-icon>text_fields</mat-icon>
    </button>
    <button mat-icon-button
      *ngFor="let color of utils.availableAnnotationColors" 
      (click)="addHighlightForSelection(color)"
    >
      <mat-icon [style]="'color: ' + color.hex.substr(0, 7) + '90'">circle</mat-icon>
    </button>
</div>

<div
  class="areaSelection"
  #areaSelection
  [ngStyle]="{
    'left.px': getMin(rect.x1, rect.x2),
    'top.px': getMin(rect.y1, rect.y2),
    'width.px': getAbs(rect.x1 - rect.x2),
    'height.px':  getAbs(rect.y1 - rect.y2)
  }"
></div>

<div class="area-fab">
  <button
    mat-fab
    color="primary"
    aria-label="Select area"
    (click)="this.areaSelectWithNormalMouse = true"
  >
    <mat-icon>photo_size_select_large</mat-icon>
  </button>
</div>
