#selectionTools{
    position: absolute;
    z-index: 3;
    text-align: center;
    display: none;
    background-color: white;
    border: whitesmoke 1px solid;
    border-radius: 10px;
  }

.pdfViewer {
    overflow: hidden;
    max-height: 100vh;
    // height: 100vh;
    width: 100%;
}

.toolsVisible {
    // visibility: hidden;
    display: none !important;
}

.toolsInvisble {
    display: block;
}

.mainArea {
    display: flex;
    justify-content: center;
}

.cardColumn, .annotationsColumn, .pdfViewer {
    background-color: white;
    border-radius: 10px;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    overflow-y: auto;
    height: calc(100vh - 50px - 1rem - 2rem - 4px);
    // border: rgb(193, 215, 255) 3px solid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-sizing: border-box;
}
@media (prefers-color-scheme: dark)
{
    .cardColumn, .annotationsColumn, .pdfViewer  {
    background-color: unset;
    }
}

.cardColumn {
    // max-width: 430px;
    // --editor-min-height: min(30vh,max(30vw,min(100vw,500px)));
    // min-width: max(30vw,min(100vw,500px));
    overflow-y: auto;
    --card-column-width: min(50vw,60rem);
    min-width: var(--card-column-width);
    max-width: var(--card-column-width);
    --flip-card-width: calc(var(--card-column-width) - 30px);
    --flip-card-height: calc(var(--flip-card-width) * 0.9);
    --editor-min-height: calc(var(--card-column-width) * 0.8);
}

.bigCards{
    --card-column-width: min(90vw,50rem);
    min-width: var(--card-column-width);
    max-width: var(--card-column-width);
    --flip-card-width:  min(min(90vw,60rem),600px);
    --flip-card-height: min(min(min(100vw,60rem),90vh),600px);
    height: 100%;
    overflow-y: unset
}


.annotationsColumn {
    text-align: center;
    width: 500px;
    // padding: 5px;
    overflow: auto;
}

.annotationJumpOverlay::before {
    position: absolute;
    padding-top: 100px;
    content: "»";
    color: red;
}


@media (hover: hover) {
    .areaSelection {
        .cornerPoint {
            padding: 0 !important;
        }
    }
}

.areaSelection {
	position: absolute;
	border: 2px dashed;
    pointer-events: none;

    .cornerPoint {
        width: 10px;
        height: 10px;
        background-color: rgba(143, 168, 248, 0.527);
        position: absolute;
        padding: 4px;
    }
    
    .cornerOne {
        top: 0;
        left: 0;
        cursor: nw-resize;
    }

    .cornerTwo {
        top: 0;
        right: 0;
        cursor: ne-resize;
    }
    .cornerThree {
        bottom: 0;
        left: 0;
        cursor: ne-resize;
        
    }
    .cornerFour {
        bottom: 0;
        right: 0;
        cursor: nw-resize;
    }

    .top {
        top: 0;
        left: 50%;
        height: 10px;
        width: 20%;
        transform: translateX(-50%);
        cursor: n-resize;
    }

    .left {
        left: 0;
        top: 50%;
        height: 20%;
        width: 10px;
        transform: translateY(-50%);
        cursor: w-resize;
    }

    .right {
        right: 0;
        top: 50%;
        height: 20%;
        width: 10px;
        transform: translateY(-50%);
        cursor: e-resize;
    }
    .bottom {
        left: 50%;
        bottom: 0;
        height: 10px;
        width: 20%;
        transform: translateX(-50%);
        cursor: s-resize;
    }
}

.hideAreaselection {
    display: none;
}

.areaSelectionOptions {
    position: absolute;
    right: -100px;
    bottom: 0px;
}

.areaSelectionCancelButton{

}

.areaSelectionFinalAction {
    display: flex;
    // flex-direction: column;
    align-items: center;
}
.firstAreaSelectionActionRow {
    display: flex;
    flex-direction: column;
}

.pageTitle {
    margin-bottom: 0;
    padding-top: 0.5rem;
}

.pageDiv {
    border-radius: 10px;
    padding: 10px;
    padding-top: 0;
}
.currentPage {
    // background-color: #dfdfdf55;
    box-shadow: rgba(77, 70, 13, 0.46) 0px 2px 8px 0px;
}

.loadingIndicator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    z-index: 3;
    padding: 50px;
    background: rgb(92,232,237);
    background: linear-gradient(30deg, rgba(92,232,237,0.7077031496192228) 0%, rgba(29,65,253,0.4640056706276261) 60%, rgba(179,115,245,0.7973390039609594) 100%);
    border-radius: 20px;
  }
  
  .loadingSpinner{
    margin-left: auto;
    margin-right: auto;
  }
  
  .closeLoadingButton{
    position: absolute;
    top: 0;
    right: 3px;
    padding: 5px;
    color: whitesmoke;
  }

.area-fab{
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    z-index: 3;
    left: 15px;
    bottom: 100px;
  }
  
.otherCardsDiv {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.nextCardButton {
margin-bottom: 0.5rem;
}

.topOptions {
    display: flex;
    justify-content: space-evenly;
    z-index: 4;
    // margin-left: auto;
    margin: 0.5rem auto;
    // position: fixed;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);
}

@media screen and (max-width: 650px){
    .additionalTopButtons {
        display: none;
    }
}