#selectionTools{
    position: absolute;
    z-index: 3;
    text-align: center;
    display: none;
    background-color: white;
    border: whitesmoke 1px solid;
    border-radius: 10px;
  }

.pdfViewer {
    overflow: hidden;
    max-height: 100vh;
    height: 100vh;
    width: 100%;
}

.toolsVisible {
    // visibility: hidden;
    display: none !important;
}

.toolsInvisble {
    display: block;
}

.mainArea {
    display: flex;
}

.annotationsColumn {
    text-align: center;
    width: 350px;
    margin: 10px;
    padding: 5px;
    height: 96vh;
    overflow: auto;
}

.annotationJumpOverlay::before {
    position: absolute;
    padding-top: 100px;
    content: "»";
    color: red;
}

.areaSelection {
	position: absolute;
	border: 2px dashed;
    pointer-events: none;
}

.pageTitle {
    margin-bottom: 0;
}

.pageDiv {
    border-radius: 10px;
    padding: 10px;
    padding-top: 0;
}
.currentPage {
    background-color: #dfdfdf55;
}


.area-fab{
    position: absolute;
    z-index: 3;
    left: 15px;
    bottom: 100px;
  }