<div class="main">

<h1 class="title" i18n>Your cards</h1>
<button mat-raised-button color="primary" (click)="startStudy()">Study</button>
<br />
<mat-form-field class="searchField" *ngIf="this.cards.length >= 1">
  <mat-label i18n>Search</mat-label>
  <input matInput type="text" #searchField (keydown.enter)="search(searchField.value)">
  <button mat-icon-button matSuffix (click)="search(searchField.value)"><mat-icon>search</mat-icon></button>
  
</mat-form-field>
<div *ngIf="this.cards.length < 1">
  <h2 i18n>No cards found.</h2>
  <button mat-raised-button routerLink="/doc" i18n>Create some</button>
</div>

<app-stacked-cards [cards]="filteredCards"></app-stacked-cards>

<div class="cards">
<app-static-card class="flexChild" *ngFor="let card of filteredCards; trackBy:trackyByCardId"
[card]="card" (edit)="editCard($event)" (delete)="deleteCard($event)"></app-static-card>
</div>
</div>