li {
  padding: 0;
}

.card-body{
padding-left: 3px;
}
.front-div , .back-div{
  border: rgba(219, 207, 207, 0.548) 2px solid;
  // padding: 2px;
  // width: 100%;
  // height: 50%;
  // overflow-y: scroll;
  width: 100%;
  // margin-left: auto;
  // margin-right: auto;
  min-height: var(--editor-min-height);
  max-height: 400px;
  overflow: auto;
  text-align: center;
}


.front-card, .back-card{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

div.front-div.active, div.back-div.active {
  border: rgba(88, 119, 117, 0.637) 2px dashed;
}

hr.solid {
  border-top: 3px solid #bbb;
}

#dynamicHeight {
  height: 95%;
  width: 100%;
  max-width: 500px;
  max-height: 700px;
  margin-left: auto;
  margin-right: auto;
}

.cardMetaFields{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.cardAccordion{
  // background-color: azure;
}

.miniField{
  width: 70px;
  text-align: center;
}

.smallField{
  width: 120px;
  text-align: center;
}


.cardHeaderText{
  align-self: center;
  // overflow-y: hidden;
}

.cardActions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.hiddenText{
  width: 100%;
}
.hiddenText textarea {
  min-height: 100px;
}

.titleField, .chapterField{
  width: 45%;
  font-size: 12px;
}

.cardAccordion{
  margin: 7px;
}

.annotationDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigationButton{
  margin-right: 10px;
}

.annotationHelper{
  display: none;
  position: absolute;
  z-index: 3;
  transform: scale(0.5);
}

