<div>
  <div
    #expansionPanel
    class="cardAccordion"
  >
    <div class="cardSides">
    <mat-card class="front-card">
      <mat-card-header>
        <mat-card-subtitle i18n>Front</mat-card-subtitle>
      </mat-card-header>
      <div
        class="front-div"
        [ngClass]="{ active: active && frontActive }"
        (scroll)="onScroll($event)"
      >
        <div
          #annotationHelperFront
          class="annotationHelper"
          *ngFor="let annotation of this.annotations"
          [id]="'ANNHEL_' + annotation.id"
        >
          <button
            mat-mini-fab
            class="navigationButton"
            title="Scroll to annotation"
            i18n-title
            (click)="scrollToAnnotation(annotation.id,'pdf')"
            [ngStyle]="{ 'background-color': annotation.color }"
          >
            <mat-icon>navigate_before</mat-icon>
          </button>
        </div>
        <ckeditor
          #frontEditor
          [editor]="FrontEditor"
          [(ngModel)]="card.front"
          (change)="change()"
          [config]="EDITOR_CONFIG"
        ></ckeditor>
      </div>
    </mat-card>

    <mat-card class="back-card">
      <mat-card-header>
        <mat-card-subtitle i18n="card back side">Back</mat-card-subtitle>
      </mat-card-header>
      <div class="back-div"
      [ngClass]="{ active: active && !frontActive }"
      (scroll)="onScroll($event)">
        <div
        #annotationHelperBack
        class="annotationHelper"
        *ngFor="let annotation of this.annotations"
      >
        <button
          mat-mini-fab
          class="navigationButton"
          title="Scroll to annotation"
          (click)="scrollToAnnotation(annotation.id,'pdf')"
          [ngStyle]="{ 'background-color': annotation.color }"
        >
          <mat-icon>navigate_before</mat-icon>
        </button>
      </div>
        <ckeditor
          #backEditor
          [editor]="BackEditor"
          [(ngModel)]="card.back"
          (change)="change()"
          [config]="EDITOR_CONFIG"
        ></ckeditor>
      </div>
    </mat-card>
  </div>
    <br />
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n>Edit Metadata</mat-panel-title>
          <mat-panel-description
          i18n>Title, Chapter, Hidden Text</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div class="cardMetaFields">
          <mat-form-field
            class="titleField"
            appearance="fill"
            style="margin-bottom: -1.25em"
          >
            <mat-label i18n>Title</mat-label>
            <input
              matInput
              placeholder="Document Title"
              [(ngModel)]="this.card.title"
            />
            <mat-icon matSuffix>book</mat-icon>
          </mat-form-field>
          <mat-form-field
            class="chapterField"
            appearance="fill"
            style="margin-bottom: -1em"
          >
            <mat-label i18n>Chapter</mat-label>
            <input
              matInput
              placeholder="Chapter"
              [(ngModel)]="this.card.chapter"
            />
            <mat-icon matSuffix>bookmark</mat-icon>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="hiddenText">
          <mat-label i18n>Hidden Text</mat-label>
          <textarea matInput [(ngModel)]="this.card.hiddenText"></textarea>
        </mat-form-field>
        <div>
          <h4 i18n>Annotations</h4>
          <div
            *ngFor="let annotation of this.annotations"
            class="annotationDiv"
          >
            <button
              mat-mini-fab
              class="navigationButton"
              title="Scroll to annotation"
              (click)="scrollToAnnotation(annotation.id,'both')"
              [ngStyle]="{ 'background-color': annotation.color }"
            >
              <mat-icon>navigate_next</mat-icon>
            </button>
            <p>
              <span [ngStyle]="{ 'background-color': annotation.color }">{{
                annotation.id
              }}</span>
            </p>
            <button mat-icon-button>
              <mat-icon color="warn" (click)="deleteAnnotation(annotation.id)"
                >delete_outline</mat-icon
              >
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <a #downloadAnchor href="#" download="selection.png"></a>
    <div class="cardActions">
      <mat-form-field
        class=""
        appearance="standard"
        style="margin-bottom: -1.25em"
        class="smallField"
      >
        <mat-label *ngIf="!this.card.$id">Card ID</mat-label>
        <mat-label *ngIf="this.card.$id">Server ID</mat-label>
        <input matInput *ngIf="!this.card.$id" type="text" readonly [ngModel]="this.card.localID" />
        <input matInput *ngIf="this.card.$id" type="text" readonly [ngModel]="this.card.$id" />
      </mat-form-field>
      <mat-form-field
        class="miniField"
        appearance="standard"
        style="margin-bottom: -1.25em"
      >
        <mat-label i18n>Page #</mat-label>
        <!-- <span matPrefix>p.</span> -->
        <input matInput type="number" [(ngModel)]="this.card.page" />
      </mat-form-field>
      <button mat-stroked-button aria-label="Save to Anki" (click)="save(true)">
        <mat-icon>save</mat-icon> Anki
      </button>
      <button
        mat-stroked-button
        aria-label="Save to Server"
        (click)="saveToServer()"
      >
        <mat-icon>save</mat-icon> Server
      </button>
      <button
        mat-stroked-button
        aria-label="Download card"
        (click)="save(false)"
      >
        <mat-icon>file_download</mat-icon>
      </button>
      <button
        mat-stroked-button
        aria-label="Delete card"
        color="warn"
        (click)="deleteCard()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="imageEditOption">
<div class="imageDrop" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
  <h3 i18n>Edit image <mat-icon>layers</mat-icon></h3>
  <p *ngIf="!imageInEditingURL" i18n>Drag an image from the editor here to edit it.</p>
  <div *ngIf="imageInEditingURL">
    <p i18n>Drag the image below to a editor to insert it.</p>
  <h4 i18n>Result:</h4>
  <img  class="editedImage" [src]="imageInEditingURL">
  <br />
  <button mat-flat-button (click)="imageInEditingURL = ''" i18n>Clear</button>
</div>
</div>


</div>
<div *ngIf="this.showimageEditOverlay" class="overlayBackdrop"></div>
<div #imageEditOverlay tabindex="0" class="imageEditOverlay" [ngClass]="{'hiddenOverlay': !this.showimageEditOverlay}" (keydown.esc)="finishImageEditing(false)">
  <button mat-icon-button class="cancelImgEditButton" (click)="finishImageEditing(false)"><mat-icon>close</mat-icon></button>
  <div id="tui-image-editor-container">
    <canvas></canvas>
  </div>
  <button class="finishImgEditButton" mat-raised-button color="primary" (click)="finishImageEditing(true)" i18n>Finish Image Editing</button>
</div>
