li {
  padding: 0;
}

.card-body{
padding-left: 3px;
}
.front-div , .back-div{
  border: rgba(219, 207, 207, 0.548) 1px solid;
  padding: 2px;
  // width: 100%;
  // height: 50%;
  // overflow-y: scroll;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  --editor-min-height:  200px;
  min-height: var(--editor-min-height);
  max-height: 400px;
  overflow: auto;
}

div.front-div.active, div.back-div.active {
  border: rgba(88, 119, 117, 0.637) 3px dashed;
}

.card {
margin: 10px 0px;
}

hr.solid {
  border-top: 3px solid #bbb;
}

#dynamicHeight {
  height: 95%;
  width: 100%;
  max-width: 500px;
  max-height: 700px;
  margin-left: auto;
  margin-right: auto;
}

.cardMetaFields{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 8px;
}

.cardMetaFields mat-form-field{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

mat-card {
  margin: 10px;
}

.miniField{
  width: 70px;
  text-align: center;
}

.smallField{
  width: 120px;
  text-align: center;
}


.cardHeaderText{
  align-self: center;
  // overflow-y: hidden;
}

.cardActions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 45px;
}