<app-flip-card [card]="this.card" #flipCard></app-flip-card>
    <div class="cardActions">
  <button mat-icon-button color="warn" aria-label="Delete icon button" (click)="deleteEmitter.emit(this.card)" title="delete">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button aria-label="Delete icon button" title="edit" (click)="editEmitter.emit(this.card)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button aria-label="Flip card icon button" title="flip card" (click)="flip()">
    <mat-icon>360</mat-icon>
  </button>
  </div>