<div class="outerFlipCard flipCard" [ngClass]="{flipped: this.flipped}">
  <div class="cardHeaderTitle">
    <span>{{this.card.title || "-"}}</span>
  </div>
  <div  class="cardChapter">
    <span>{{this.card.chapter || "-"}}</span>
  </div>

  <div class="inner">
<!-- <app-static-card-side class="front" [content]="card.front" name="Front"></app-static-card-side> -->
<mat-card class="front front-card">
  <mat-card-header>
    <mat-card-subtitle>Front</mat-card-subtitle>
  </mat-card-header>
  <div
    class="front-div"
    (scroll)="onScroll($event)"
  >
    <div
      #annotationHelperFront
      class="annotationHelper"
      *ngFor="let annotation of this.annotations"
      [id]="'ANNHEL_' + annotation.id"
    >
      <button
        mat-mini-fab
        class="navigationButton"
        title="Scroll to annotation"
        (click)="scrollToAnnotation(annotation.id,'pdf')"
        [ngStyle]="{ 'background-color': annotation.color }"
      >
        <mat-icon>navigate_before</mat-icon>
      </button>
    </div>
    <ckeditor
      #frontEditor
      [editor]="FrontEditor"
      [(ngModel)]="card.front"
      [config]="EDITOR_CONFIG"
      [disabled]="true"
    ></ckeditor>
  </div>
</mat-card>
<!-- <app-static-card-side  class="back" [content]="card.back" name="Back"></app-static-card-side> -->
<mat-card class="back back-card">
  <mat-card-header>
    <mat-card-subtitle>Back</mat-card-subtitle>
  </mat-card-header>
  <div class="back-div" (scroll)="onScroll($event)">
    <div
    #annotationHelperBack
    class="annotationHelper"
    *ngFor="let annotation of this.annotations"
  >
    <button
      mat-mini-fab
      class="navigationButton"
      title="Scroll to annotation"
      (click)="scrollToAnnotation(annotation.id,'pdf')"
      [ngStyle]="{ 'background-color': annotation.color }"
    >
      <mat-icon>navigate_before</mat-icon>
    </button>
  </div>
    <ckeditor
      #backEditor
      [editor]="BackEditor"
      [(ngModel)]="card.back"
      [config]="EDITOR_CONFIG"
      [disabled]="true"
    ></ckeditor>
  </div>
</mat-card>
</div>
<div class="cardActions">
  <button mat-icon-button color="warn" aria-label="Delete icon button" (click)="deleteEmitter.emit(this.card)" title="delete">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button aria-label="Delete icon button" title="edit" (click)="editEmitter.emit(this.card)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button aria-label="Flip card icon button" title="flip card" (click)="this.flipped = !this.flipped">
    <mat-icon>360</mat-icon>
  </button>
  </div>
</div>