.front-div , .back-div{
  border: rgba(219, 207, 207, 0.548) 2px solid;
  // padding: 2px;
  // width: 100%;
  // height: 50%;
  // overflow-y: scroll;
  width: 100%;
  // margin-left: auto;
  // margin-right: auto;
  --editor-max-height: 300px;
  --editor-min-height: 300px;
  min-height: var(--editor-min-height);
  max-height:var(--editor-max-height);
  overflow: auto;
  text-align: center;
}



.annotationDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigationButton{
  margin-right: 10px;
}

.annotationHelper{
  display: none;
  position: absolute;
  z-index: 3;
  transform: scale(0.5);
}

.cardSides{
  display: flex;
}


.card{
  margin-bottom: 10px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
.cardActions{
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%
}

.cardHeaderTitle{
  padding-top: 15px;
}

.cardChapter{
  color: gray;
  padding-bottom: 8px;
  font-size: 0.8em;
}
.cardHeaderTitle span, .cardChapter span{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
}


.flipCard{
  perspective: 1000px;
  width: 600px;
  height: 500px;
  --editor-max-height: 300px;
  --editor-min-height: 300px;
  width: 100%;
  min-width: 350px; 
}

.flipCard.flipped .inner{
  transform: rotateY(180deg);
}
.flipCard.flipped .inner .front{
  --editor-max-height: 300px;
  --editor-min-height: 300px;
  // z-index: 0;
}
.flipCard.flipped .inner .back{
  --editor-max-height: 300px;
  --editor-min-height: 300px;
  // z-index: 1;
}


.flipCard, .front, .back {
  margin-bottom: 10px;
  // width: 85%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  z-index: 0;

}

.inner{
  transition: 0.7s;
  transform-style: preserve-3d;
  position: relative;
  width: 400px;
  height: 100%;
  max-height: 300px;
}

.front, .back{
  position: absolute;
  top: 0;
	left: 0;
  width: 400px;
  box-sizing: border-box;
  backface-visibility: hidden;
  background-color: white;
}

.back {
  transform: rotateY(180deg);
}