.annotationWrapper {
    border-radius: 15px;
    transition: 0.3s ease-out;
    width: 100%;
    touch-action: none;
    background-color: var(--annotation-color-transparent);
    border: 0.5rem solid transparent;
}


@media (prefers-color-scheme: dark)
{
    .annotationWrapper  {
    background-color: unset;
    border: 0.5rem solid var(--annotation-color);
    }
}


textarea {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.annotationOuterWrapper {
    padding-top: 10px;
    display: flex;
    // --highlightColor: rgb(246, 195, 26);
}

.annotationOuterWrapper .annotationWrapper.highlight {
    // animation: blink 5s ease-in-out;
    filter: saturate(200%);
    box-shadow: 0px 0px 5px 5px var(--annotation-color); 
}

.commentWrapper {
    margin: 5px;
}

.commentTextarea {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: rgb(42, 39, 39);
    font-size: 0.8rem;
    height: 32px;
    margin: 5px;
}

.actionButtons {

}
