.mainContent{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.register{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.login{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.login mat-form-field, .register mat-form-field{
  width: 100%;
}

.bigButton{
  width: 50%
}
.validationIndicator{
  overflow:visible
}

.flexParent{
  display: flex;
  margin-top: 20px;
}

.verificationStart, .verificationFinish{
  margin-top: 50px;
}


@media screen and (max-width: 900px) {
  .mainContent{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .flexParent{
    display: block;
    margin-top: 20px;
  }
  
  .register{
    float: none;
    width: 80%;
  }
  .login{
    float: none;
    width: 80%;
  }
}