<div class="main">

  <h1 i18n>Your cards for</h1>
  <h2>{{this.document?.name}}</h2>
  <button class="backButton" mat-flat-button routerLink="/documents" color="accent" i18n>
    <mat-icon>arrow_back_ios</mat-icon>Go back to documents
    </button>
    <br />
    <br />
<button mat-raised-button color="primary" (click)="startStudy()">Study</button>
    <br />
    <br />
    <button class="backButton" mat-flat-button routerLink="/create/from-document/{{document?.$id}}" color="primary" i18n>
      Create new
      <mat-icon>add_circle</mat-icon>
      </button>
  <div *ngIf="!this.document?.cardIDs?.length">
    <h2 i18n>No cards found for this document.</h2>
  </div>
  
  <div class="cards">
    <div *ngFor="let card of cards">
      <app-static-card class="flexChild"
      [card]="card" (edit)="editCard($event)" (delete)="deleteCard($event)"></app-static-card>
    </div>
  </div>
  </div>