.dismissOption{
  // width: 10%;
  float: right;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.notificationContent{
  float: left;
  width: 100%;
}

.notificationContent p{
  white-space: break-spaces;
}

.success.notificationContent .title{
  color: green;
}

.danger.notificationContent .title{
  color: red;
}