
.mat-tab-header{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.mainToolbar, .mainToolbarRow{
  min-height: 40px !important;
  height: 40px !important;
}

.mainToolbar > nav {
  min-height: 30px !important;
  height: 30px !important;
}

.mat-tab-links{
  display: block;
}
a.mat-tab-link {
}

.menu-fab{
  position: absolute;
  z-index: 3;
  left: 0px;
  // top: 30px;
}


.sideNavigation{
text-align: center;
}

.mainDrawer{
  text-align: center;
}

.mainContainer, .mainContent{
  height: 100%;
}

.mat-button-toggle-checked {
  background-color: rgb(123, 200, 251);
}
.mat-button-toggle-disabled{
  background-color: rgb(202, 202, 202);
}

.mat-button-toggle-checked.mat-button-toggle-disabled{
  background-color: rgb(159, 189, 211);
}

footer{
  text-align: center;
  margin: 3px 5px;
}
footer a{
  margin: 5px;
  color: white;
}
.wave{
  position: absolute;
  bottom: 0;
  left: 0;
}

footer{
  z-index: 3;
  font-weight: 100;
}

.pageList{
  list-style-type: none;
  padding: 10px;
  width: 80%;
  margin: 5px auto;
}

.pageList li a, .pageList li button{
  padding: 11px;
  height: 30px;
  margin: 5px auto;
  max-width: 20rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  box-sizing: content-box;
  background: unset;
  border: unset;
}

.pageList li a mat-icon, .pageList li button mat-icon{
  padding: 10px;
  border-radius: 100%;
  background-color: var(--site-color,rgba(134, 43, 219,1));
  color: white;
}
.pageList li a span, .pageList li button span{
  width: 15rem;
  text-align: left;
  margin-left: 10px;
  color: var(--site-color,rgba(134, 43, 219,1));
  font-weight: 500;
  font-size: 1rem;
  font-family: Roboto;
}

.pageList li button:disabled mat-icon{
  background-color: rgb(182, 182, 182);
}
.pageList li button:disabled span {
  color: rgb(182, 182, 182);
}

.pageList li a.active, .pageList li button.active{
  background-color: var(--site-color-background,rgba(134, 43, 219,0.3));
}

.sideContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  width: 100px;
  margin-top: 2rem;
}