#pdf-column{
  width: 60%;
  float: left;
}
#cards-column{
  width: 40%;
  float: right;
}

.toolbarSpace{
  margin-right: 20px;
}

.ocrSpinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.oerLanguageField{
  font-size: 12px;
}

.headerOptions{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.headerOptions .pdfFileSelector{
  margin-top: auto;
  margin-bottom: auto;
}

.mat-button-toggle {
  background-color: rgba(187, 221, 243, 0.431);
}

.mat-button-toggle-checked {
  background-color: rgb(123, 200, 251);
}

.defaultTitleField{
  width: 100%
}


.defaultTitleFieldWrapper{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.currentCardActions{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.finishButton{
  width: 60%;
  margin-bottom: 5px;
}
.currentCardSideToggle{
  margin-left: auto;
  margin-right: auto;
}

.cards{
  overflow-y: scroll;
  max-height: 70vh;
  margin: 5px;
}