
<div id="pdf-column">
<canvas style="display: none" #previewCanvas></canvas>

<canvas
  #selCanv
  width="816px"
  height="1056px"
  style="position: absolute; display: block; left: 0; right: 0"
  [ngStyle]="{ 'z-index': zIndex }"
  tabindex="0"
  (mousedown)="mouseDown($event)"
  (mouseup)="finishRect()"
  (touchend)="finishRect()"
  (mousemove)="mouseMove($event)"
  (mouseleave)="finishRect()"
  (keydown)="keyDown($event)"
  (contextmenu)="mouseDown($event)"
></canvas>

<div *ngIf="!disablePDFViewer">
<ngx-extended-pdf-viewer 
#ngxPdfViewer
  [listenToURL]="true"
  [src]="pdfSrc"
  [useBrowserLocale]="true"
  [(page)]="this.page"
  [textLayer]="true"
  [zoom]="'page-fit'"
  mobileFriendlyZoom="true"
  [(sidebarVisible)]="sidebarVisible"
  (sidebarVisibleChange)="calcScaling()"
  (pagesLoaded)="loadComplete($event)"
  (pageRendered)="pageRendered($event)"
  [ignoreKeys]="['1', '2', 'w', 's']"
  [enablePinchOnMobile]="true"
  [showBorders]="false"
  [pageViewMode]="config.singlePageMode ? 'single' : 'multiple'"
></ngx-extended-pdf-viewer>
</div>
</div>
<div id="cards-column">
  <div class="cards">
    <app-card
      [(card)]="cards[i]"
      [active]="cards[currIndex].id == card.id"
      [frontActive]="this.frontSelected"
      (delete)="deleteCard($event)"
      [deckName]="config.deckName"
      *ngFor="let card of cards; trackBy: getCardId; let i = index"
    ></app-card>
  </div>
</div>
