<mat-drawer-container hasBackdrop="true" class="mainContainer">
  <mat-drawer #drawer mode="over" class="mainDrawer">
    <div class="sideContent noprint">
      <div>
        <img src="/assets/logo.png" class="logo" alt="Logo of cardflash.net. Showing a card and a lightning bold.">
        <h2>cardflash.net</h2>
        <h3 *ngIf="this.accountService.getAcc()">Hi, {{this.accountService.getAcc().name}}</h3>
        <h4>Start creating flashcards from PDFs now!</h4>
        <nav class="sideNavigation">
          <ul class="pageList">
            <li>
              <a routerLink="/cards" routerLinkActive="active" style="--site-color: #3cbfc8;--site-color-background: #3cbfc840" (click)="drawer.toggle()">
              <mat-icon aria-labelledby="cards">inventory</mat-icon>
              <span i18n id="cards">Cards</span>
            </a>
            </li>
            <li>
              <a routerLink="/documents" routerLinkActive="active" style="--site-color: #568ed8;--site-color-background: #568ed840" (click)="drawer.toggle()">
              <mat-icon aria-labelledby="documents">folder</mat-icon>
              <span i18n id="documents">Documents</span>
            </a>
            </li>
            <li>
              <a routerLink="/doc/" routerLinkActive="active" style="--site-color: #45ad45;--site-color-background: #45ad4540" (click)="drawer.toggle()">
              <mat-icon aria-labelledby="create-from-pdf">picture_as_pdf</mat-icon>
              <span i18n id="create-from-pdf">Create from PDF</span>
            </a>
            </li>
            <li>
              <a routerLink="/study" routerLinkActive="active" style="--site-color: #21c3ae;--site-color-background: #a1fadcbe" (click)="drawer.toggle()">
              <mat-icon aria-labelledby="study">mark_chat_read</mat-icon>
              <span i18n id="study">Study</span>
            </a>
            </li>
            <li *ngIf="!this.accountService.isLoggedIn()">
              <button routerLink="/login" routerLinkActive="active" style="--site-color: #9e63d6;--site-color-background: #9e63d640" (click)="drawer.toggle()" [disabled]="dataApi.isOfflineMode()"
              [title]="dataApi.isOfflineMode ? 'Only possible if Server provider is selected below' : 'Login or Register on Server'">
              <mat-icon aria-labelledby="login">login</mat-icon>
              <span i18n id="login">Login or Register</span>
            </button>
            </li>
            <li *ngIf="this.accountService.isLoggedIn()">
              <br/>
              <hr  style="border-color: #d663a0">
              <a routerLink="/login" style="--site-color: #d663a0;--site-color-background: #d663a040" (click)="logout()">
              <mat-icon aria-labelledby="logout">logout</mat-icon>
              <span i18n id="logout">Logout</span>
            </a>
            </li>
          </ul>
          </nav>
      </div>
    <app-options></app-options>
    <span i18n>Currently WIP</span>
    <div>
    <h6 >Toggle language</h6>
    <mat-button-toggle-group>
      <mat-button-toggle [checked]="currentLocale === 'en'"  (change)="changeLocale('en')"><img [src]="getFlagImgURL('gb')"> English</mat-button-toggle>
      <mat-button-toggle [checked]="currentLocale === 'de'" (change)="changeLocale('de')"><img [src]="getFlagImgURL('de')"> German</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
      <footer>
        <a target="_blank" href="https://aarkue.eu/impress" i18n>Impress</a>
        <a target="_blank" href="https://aarkue.eu/impress#privacy" i18n>Privacy</a>
      </footer>
      <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="0.69" d="M0,256L30,261.3C60,267,120,277,180,256C240,235,300,181,360,160C420,139,480,149,540,133.3C600,117,660,75,720,85.3C780,96,840,160,900,181.3C960,203,1020,181,1080,176C1140,171,1200,181,1260,176C1320,171,1380,149,1410,138.7L1440,128L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
      </div>
  </mat-drawer>
  <mat-drawer-content class="mainContent" [style.--data-annotation-border]="this.dataApi.config.showDebugInfo ? '2px dashed orange' : '' ">
    <div class="menu-fab noprint">
      <button
        mat-fab
        color="primary"
        aria-label="Open Sidenavigation"
        (click)="drawer.toggle()"
      >
        <mat-icon aria-hidden="true">menu</mat-icon>
      </button>
    </div>
    <!-- <mat-toolbar class="mainToolbar">
  <mat-toolbar-row class="mainToolbarRow">
    <button mat-icon-button (click)="drawer.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
    <nav mat-tab-nav-bar>
      <a mat-tab-link [routerLink]="['/cards']" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">Cards</a>
      <a mat-tab-link [routerLink]="['/create/from-pdf']" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">Create from PDF</a>
    </nav>

      </mat-toolbar-row>
  </mat-toolbar> -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
