#pdf-column{
  width: 60%;
  float: left;
}
#cards-column{
  width: 40%;
  float: right;
}

.toolbarSpace{
  margin-right: 10px;
}

.ocrSpinner{
  position: absolute;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
}