
<div class="mainContent">
<h1>Edit card</h1>
<button class="backButton" mat-flat-button routerLink="/cards" color="accent">
<mat-icon>arrow_back_ios</mat-icon>Go back to all cards
</button>
<div *ngIf="this.document">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{this.document.name}}</mat-card-title>
          <mat-card-subtitle>Linked Document</mat-card-subtitle>
          <img mat-card-sm-image  mat-card-avatar [src]="this.dataApi.getFilePreview(this.document.fileid)">
        </mat-card-header>
        <mat-card-actions class="cardActions">
          <a mat-flat-button target="_blank" [href]="this.dataApi.getFileView(this.document.fileid).href">View document</a>
          <button mat-flat-button color="accent" routerLink="/documents/{{this.document.$id}}/cards/">View cards <mat-icon>inventory</mat-icon></button>
          <button mat-flat-button color="primary" routerLink="/create/from-document/{{this.document.$id}}/" fragment="CARD_{{this.card?.$id}}">View with annotations <mat-icon>picture_as_pdf</mat-icon></button>
        </mat-card-actions>
        </mat-card>
</div>
<br />
<app-card *ngIf="this.card" [card]="this.card"[active]="true" (delete)="this.deleteCard()"></app-card>

<h3>Preview:</h3>
<mat-progress-spinner class="centerSpinner" mode="indeterminate" *ngIf="!this.card && !this.requestFailed"></mat-progress-spinner>
<app-flip-card  *ngIf="this.card" 
[card]="this.card"></app-flip-card>

</div>