.mainContent {
  text-align: center;
  width: 85%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.backButton{
  margin-bottom: 10px;
}

.document{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.cardActions{
  display: flex;
  justify-content: space-around;
}


.tagsDiv{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}