
<div class="card flipCard"  [ngClass]="{flipped: this.flipped}">
  <!-- <div class="cardHeaderTitle">
    <span>{{this.card.title || "-"}}</span>
  </div>
  <div  class="cardChapter">
    <span>{{this.card.chapter || "-"}}</span>
  </div> -->

  <div class="inner" [style.--transition-duration]="animate ? '0.5s' : '0'">
<app-static-card-side class="front" [content]="card.front" name="Front" #frontSide></app-static-card-side>
<app-static-card-side  class="back" [content]="card.back" name="Back" #backSide></app-static-card-side>
</div>
<!-- <div class="cardActions">
  <button mat-icon-button color="warn" aria-label="Delete icon button" (click)="deleteEmitter.emit(this.card)" title="delete">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button aria-label="Delete icon button" title="edit" (click)="editEmitter.emit(this.card)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button aria-label="Flip card icon button" title="flip card" (click)="this.flipped = !this.flipped">
    <mat-icon>360</mat-icon>
  </button>
  </div> -->
</div>