
<div class="card flipCard">
  <div class="cardHeaderTitle">
    {{this.card.title || "-"}}
  </div>
  <div  class="cardChapter">
    {{this.card.chapter || "-"}}
  </div>

  <div class="inner">
<app-static-card-side class="front" [content]="card.front" name="Front"></app-static-card-side>
<app-static-card-side  class="back" [content]="card.back" name="Back"></app-static-card-side>
</div>
<div class="cardActions">
  <button mat-icon-button color="warn" aria-label="Delete icon button" (click)="deleteEmitter.emit(this.card)" title="delete">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button aria-label="Delete icon button" title="edit" (click)="editEmitter.emit(this.card)">
    <mat-icon>edit</mat-icon>
  </button>
  </div>
</div>