<div class="main">
  
  <h1 class="title" i18n>Your notes</h1>
  <mat-form-field class="searchField" *ngIf="this.notes.length >= 1">
    <mat-label i18n>Search</mat-label>
    <input matInput type="text" #searchField (keydown.enter)="search(searchField.value)">
    <button mat-icon-button matSuffix (click)="search(searchField.value)" aria-label="Search"><mat-icon>search</mat-icon></button>
  </mat-form-field>
  <div *ngIf="isLoading">
    <h1>Loading notes...</h1>
    <mat-progress-spinner
    class="loadingIndicator"
    mode="indeterminate"
    ></mat-progress-spinner>
  </div>
  <div *ngIf="!isLoading && this.notes.length < 1">
    <h2 i18n>No notes found.</h2>
  </div>
  
  <br />
  <button mat-flat-button (click)="addNew()"><mat-icon>add</mat-icon>New...</button>

  <button mat-flat-button style="float: right;" (click)="fix()">Fix...<mat-icon>auto_fix_high</mat-icon></button>
  <br />
  <br />
  <input type="file" multiple webkitdirectory directory #fileInput (change)="fileinputChange(fileInput)">
  <br/>
<div class="noteList">
  <div *ngIf="!isRootFolder" mat-flat-button class="noteEl" >
    <mat-icon>keyboard_arrow_up</mat-icon>
    <span [routerLink]="'..'">..</span>
</div>

  <div mat-flat-button class="noteEl" *ngFor="let folder of currentFolder?.children" >
    <mat-icon>folder</mat-icon>
    <span  [routerLink]="this.folderMode ? folder.name : 'folder/' + folder.name">{{folder.name || 'No title'}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu noprint" aria-label="Edit or Delete Card" (click)="$event.preventDefault()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item class="deleteButton" aria-label="Delete icon button" title="delete" (click)="deleteNote(note)" i18n-title>
        <mat-icon>delete</mat-icon>
        Delete
      </button> -->
    </mat-menu>
</div>

  <div mat-flat-button class="noteEl" *ngFor="let note of currentFolder?.content; trackBy: trackyByNoteId" >
      <mat-icon>text_snippet</mat-icon>
      <span  [routerLink]="'/notes/'+note.$id">{{note.title || 'No title'}}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu noprint" aria-label="Edit or Delete Card" (click)="$event.preventDefault()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="deleteButton" aria-label="Delete icon button" title="delete" (click)="deleteNote(note)" i18n-title>
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </mat-menu>
  </div>

  <div mat-flat-button class="noteEl" *ngFor="let attachment of currentFolder?.attachments; let i = index" >
    <mat-icon *ngIf="attachment.type.includes('image')">image</mat-icon>
    <mat-icon *ngIf="!attachment.type.includes('image')">file_present</mat-icon>
    <a [href]="this.fileViews[i]" target="_blank" class="fileLink"><span>{{attachment.name || 'No title'}}</span></a>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu noprint" aria-label="Edit or Delete Card" (click)="$event.preventDefault()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item class="deleteButton" aria-label="Delete icon button" title="delete" (click)="deleteNote(note)" i18n-title>
        <mat-icon>delete</mat-icon>
        Delete
      </button> -->
    </mat-menu>
</div>
</div>
<app-graph #noteGraph></app-graph>
