#pdf-column{
  width: 60%;
  float: left;
}
#cards-column{
  width: 40%;
  float: right;
}

.toolbarSpace{
  margin-right: 20px;
}

.ocrSpinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.oerLanguageField{
  font-size: 12px;
  max-width: 120px;
}

.headerOptions{
  margin-left: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.headerOptions .pdfFileSelector{
  margin-top: auto;
  margin-bottom: auto;
  width: 200px;
  border: 1px dashed rgba(167, 167, 167, 0.473);
  padding: 15px;
}

.defaultTitleField, .ankiDeckField{
  width: 44%
}


.fieldWrapper{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.currentCardActions{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.finishButton{
  width: 60%;
  margin-bottom: 5px;
}
.currentCardSideToggle{
  margin-left: auto;
  margin-right: auto;
}

.cards{
  overflow-y: scroll;
  max-height: 70vh;
  margin: 5px;
  padding: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.mat-button-toggle-checked {
  background-color: rgb(123, 200, 251);
}
.mat-button-toggle-disabled{
  background-color: rgb(202, 202, 202);
}

.mat-button-toggle-checked.mat-button-toggle-disabled{
  background-color: rgb(159, 189, 211);
}

