<div class="fabContainer" (focusout)="this.divBlur($event)" #fabContainer>
  <button mat-fab color="" aria-label="Toggle sidenav" #mainButton (click)="mainButtonClick()">
    <mat-icon [style.color]="selectedOption.color">{{ selectedOption.icon }}</mat-icon>
  </button>
  <div
    class="expandContent"
    [ngClass]="{ showContent: this.getShowContent(), expandToTop: expandToTop }"
  >
    <button
      mat-mini-fab
      *ngFor="let el of this.options; let i = index"
      (click)="contentButtonClick(i)"
      [color]="el.id === selectedOption.id ? 'primary' : ''"
      title="{{el.title}}"
      class="fabExpandContentButton"
      tabindex="{{this.showContent ? '0' : '-1'}}"
      
    >
      <mat-icon [style.color]="el.color">{{ el.icon }}</mat-icon>
    </button>
    <button
      mat-mini-fab
      color=""
      class="fabExpandContentButton fabExpandCloseButton"
      *ngIf="defaultOption"
      (click)="closeButtonClick()"
      [disabled]="this.showContent"
    >
      <mat-icon [style.color]="'red'">close</mat-icon>
    </button>
  </div>
</div>
