/* You can add global styles to this file, and also import other style files */
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
html, body {
  height: 100%; 
  --editor-min-height: 250px;
  --editor-max-height: 250px;
  touch-action: manipulation;
}
body { margin: 0; overflow: hidden; font-family: Roboto, "Helvetica Neue", sans-serif;}


.onlyPrint {
  display: none;
}
.ck-content {
  min-height: var(--editor-min-height);
}
.ck-mentions {
  --ck-mention-list-max-height: min(50vh,35rem) !important;
}
a.mention {
  box-shadow: 0px 0px 2px 2px #70d7ff70;
  background-color: unset;
}
a.mention{
  color: #a400fcf9;
}
a:visited.mention{
  color: #a970ffd6;
}
.editor .ck-content {
  a.mention {
    box-shadow: 0px 0px 2.5px 2.5px #70d7ff90;
    color: #a400fcf9;
    background-color: unset;
  }
  a:visited.mention{
      color: #a970ffd6;
    }
  span.mention{
    background-color: unset;
  }
}


.ck.ck-editor__editable_inline{
  // text-align: center !important;
}

.mat-app-background{
  height: 100%;
}

.annotationToolOverlay{
  opacity: 0.3;
}
.annotationToolOverlay:hover{
  opacity: 1;
}

.tui-image-editor-header-logo {
  display: none;
}
.tui-image-editor-controls{
  background-color: #fafafafa !important;
}
img{
  max-width: 100%;
}

.mat-snack-bar-container {
  background-color: white !important;
  color: black !important;
}

.smallerToggleButtons{

  .mat-button-toggle-label-content {
    line-height: 25px !important;
}

}


.centerSpinner{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
.nodes g:hover circle{
// stroke: red;
fill: orange;
}

svg.leader-line {
  z-index: 1 !important;
  }   

.command-item-element {
  --ck-color-list-button-on-background-focus: #77cfff9c;
  --ck-color-list-button-on-background: #77cfff8f;
  --ck-color-list-button-hover-background: #fdf7f7;
}


.wrap .mat-slide-toggle-content {
  white-space: normal;
}

// @import url('assets/card-styles.css');


.flipCard.flipped .inner, .flipCardTrigger:hover .inner{
  transform: rotateY(180deg);
}


.focusBackdrop {
  background-color: rgba(207, 247, 250, 0.911);
}

.fullscreenPanel { 
  // height: 100vh;
  // width: 100vw !important;
  max-width: 100vw !important;
  width: min(95vw, 1200px);
  .mat-dialog-container{
    padding: 0.5rem;
  }
}

.mat-drawer-content.mainContent {
  // overflow: hidden;
}

:root{
  --marker-yellow: #f3ea504f;
  --marker-blue: #5eacf94f;
  --marker-green: #5ef98c4f;
  --marker-pink: #f95ef34f;

  --ck-highlight-marker-blue: hsl(201, 97%, 72%);
  --ck-highlight-marker-green: hsl(120, 93%, 68%);
  --ck-highlight-marker-pink: hsl(345, 96%, 73%);
  --ck-highlight-marker-yellow: hsl(60, 97%, 73%);
  --ck-highlight-pen-green: hsl(112, 100%, 27%);
  --ck-highlight-pen-red: hsl(0, 85%, 49%);
}


.card {
  width: fit-content
}
.card, .ck-editor, .ck.ck-editor__editable_inline {
  width:auto;
  margin-left: auto;
  margin-right: auto;
  // text-align: center !important;
  font-size: 18px;
  padding-top: 1rem;
  

  // ul, ol {
  //   max-width: fit-content;
  // text-align: left;
  // margin-left: auto;
  // margin-right: auto;

  // ul, ol {
  //   margin-left: 0;
  // }
  // }

  [data-annotationid] {
    border: var(--data-annotation-border,none)
  }
}


.marker-light-yellow{
  background-color: var(--marker-yellow)
}

.marker-light-blue{
  background-color: var(--marker-blue)
}

.marker-light-green{
  background-color: var(--marker-green)
}

.marker-light-pink{
  background-color: var(--marker-pink)
}

 .marker-yellow {
  background-color: var(--ck-highlight-marker-yellow);
}

 .marker-green {
  background-color: var(--ck-highlight-marker-green);
}

 .marker-pink {
  background-color: var(--ck-highlight-marker-pink);
}

 .marker-blue {
  background-color: var(--ck-highlight-marker-blue);
}

 .pen-red {
  color: var(--ck-highlight-pen-red);
  background-color: transparent;
}

 .pen-green {
  color: var(--ck-highlight-pen-green);
  background-color: transparent;
}



@media (prefers-color-scheme: dark)
{

  :root{
    --marker-yellow: #f3eb50;
    --marker-blue: #5eabf9;
    --marker-green: #5ef98df6;
    --marker-pink: #f95ef4;
  
    --ck-highlight-marker-blue: hsl(201, 97%, 72%);
    --ck-highlight-marker-green: hsl(120, 93%, 68%);
    --ck-highlight-marker-pink: hsl(345, 96%, 73%);
    --ck-highlight-marker-yellow: hsl(60, 97%, 73%);
    --ck-highlight-pen-green: hsl(112, 100%, 27%);
    --ck-highlight-pen-red: hsl(0, 85%, 49%);
  }
  .card {
    color: white;
  }

  .card a {
    color: white;
  }
  mark {
    // background-color: unset !important;
    color: black;
  }
  
  // .marker-light-yellow{
  //   border: 3px solid var(--marker-yellow) !important;
  // }
  
  // .marker-light-blue{
  //   border: 3px solid var(--marker-blue) !important;
  // }
  
  // .marker-light-green{
  //   border: 3px solid  var(--marker-green) !important;
  // }
  
  // .marker-light-pink{
  //   border: 3px solid  var(--marker-pink) !important;
  // }
  
  //  .marker-yellow {
  //   border: 3px solid  var(--ck-highlight-marker-yellow) !important;
  // }
  
  //  .marker-green {
  //   border: 3px solid  var(--ck-highlight-marker-green) !important;
  // }
  
  //  .marker-pink {
  //   border: 3px solid  var(--ck-highlight-marker-pink) !important;
  // }
  
  //  .marker-blue {
  //   border: 3px solid  var(--ck-highlight-marker-blue) !important;
  // }
  
}
