/* You can add global styles to this file, and also import other style files */
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';

html, body {
  height: 100%; 
  --editor-min-height: 250px;
  --editor-max-height: 250px;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden }


.ck-editor__editable {
  min-height: var(--editor-min-height);
}

.ck.ck-editor__editable_inline{
  text-align: center !important;
}

.mat-app-background{
  height: 100%;
}

.annotationToolOverlay{
  opacity: 0.3;
}
.annotationToolOverlay:hover{
  opacity: 1;
}

.tui-image-editor-header-logo {
  display: none;
}
.tui-image-editor-controls{
  background-color: #fafafafa !important;
}
img{
  max-width: 100%;
}

.mat-snack-bar-container {
  background-color: white !important;
  color: black !important;
}

.smallerToggleButtons{

  .mat-button-toggle-label-content {
    line-height: 25px !important;
}

}


.centerSpinner{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}


svg.leader-line {
  z-index: 1 !important;
  }   



.wrap .mat-slide-toggle-content {
  white-space: normal;
}

// @import url('assets/card-styles.css');


.focusBackdrop {
  background-color: rgba(207, 247, 250, 0.911);
}

:root{
  --marker-yellow: #f3ea504f;
  --marker-blue: #5eacf94f;
  --marker-green: #5ef98c4f;
  --marker-pink: #f95ef34f;

  --ck-highlight-marker-blue: hsl(201, 97%, 72%);
  --ck-highlight-marker-green: hsl(120, 93%, 68%);
  --ck-highlight-marker-pink: hsl(345, 96%, 73%);
  --ck-highlight-marker-yellow: hsl(60, 97%, 73%);
  --ck-highlight-pen-green: hsl(112, 100%, 27%);
  --ck-highlight-pen-red: hsl(0, 85%, 49%);
}


.card {
  width: fit-content
}
.card, .ck-editor, .ck.ck-editor__editable_inline {
  width:auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
  font-size: 20px;
  ul, ol {
    max-width: fit-content;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

  ul, ol {
    max-width: unset;
    text-align: left;
    margin: unset;
  }

  }

  [data-annotationid] {
    border: var(--data-annotation-border,none)
  }
}

.marker-light-yellow{
  background-color: var(--marker-yellow)
}

.marker-light-blue{
  background-color: var(--marker-blue)
}

.marker-light-green{
  background-color: var(--marker-green)
}

.marker-light-pink{
  background-color: var(--marker-pink)
}

 .marker-yellow {
  background-color: var(--ck-highlight-marker-yellow);
}

 .marker-green {
  background-color: var(--ck-highlight-marker-green);
}

 .marker-pink {
  background-color: var(--ck-highlight-marker-pink);
}

 .marker-blue {
  background-color: var(--ck-highlight-marker-blue);
}

 .pen-red {
  color: var(--ck-highlight-pen-red);
  background-color: transparent;
}

 .pen-green {
  color: var(--ck-highlight-pen-green);
  background-color: transparent;
}

