/* You can add global styles to this file, and also import other style files */
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';

html, body {
  height: 100%; 
  --editor-min-height: 250px;
  --editor-max-height: 250px;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.ck-editor__editable {
  min-height: var(--editor-min-height);
}

.ck.ck-editor__editable_inline{
  text-align: center !important;
}

.mat-app-background{
  height: 100%;
}

.annotationToolOverlay{
  opacity: 0.3;
}
.annotationToolOverlay:hover{
  opacity: 1;
}

.tui-image-editor-header-logo {
  display: none;
}
.tui-image-editor-controls{
  background-color: #fafafafa !important;
}
img{
  max-width: 100%;
}


.smallerToggleButtons{

  .mat-button-toggle-label-content {
    line-height: 25px !important;
}

}


.centerSpinner{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}


svg.leader-line {
  z-index: 1 !important;
  }   

@import url('assets/card-styles.css');