@import '~@angular/material/theming';
@include mat-core();

$mat-primary-scheme: (
  100: #26f7ff,
  500: #46affa,
  700: #214ccf,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: #ffffff,
    700: #ffffff,
  )
);
$mat-accent-scheme: (
  100: #7aeea8,
  500: #60e3bc,
  700: #4dc36d,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: rgba(0,0,0,0.87),
    700: #ffffff,
  )
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

// @include angular-material-theme($app-light-theme);

// following section is for dark mode.
// use appropriate class name for darkMode
$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);


@include angular-material-theme($app-light-theme);


@media (prefers-color-scheme: dark) {
  @include angular-material-theme($app-dark-theme);
}