<div class="main">

  <h1 i18n>Your documents</h1>
  <div *ngIf="this.documentsCollection.size < 1">
    <h2 i18n>You currently have no documents stored online.</h2>
  </div>
  
  <div class="documents">
    <div class="document">
      <mat-card>
        <mat-card-header>
          <mat-card-title i18n>
            Upload new
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <input type="file"  accept=".pdf" #fileInput>
          <br />
          <button mat-raised-button (click)="uploadDocument()">Upload</button>
          <br />
          <mat-progress-spinner class="centerSpinner" mode="indeterminate" *ngIf="this.isBusy"></mat-progress-spinner>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="document">
    <h5 i18n>Filter with Tags: {{this.selectedTag}}</h5>
    <mat-chip-list aria-label="Filter by tags" i18n-aria-label>
      <mat-chip selectable="true" [selected]="tag.key === this.selectedTag" (click)="tagClicked(tag.key)" [value]="tag.key" color="primary" *ngFor="let tag of this.allTags | keyvalue" removable="false">{{tag.key}}
    </mat-chip>
    </mat-chip-list>
  </div>
  <div class="document" *ngFor=" let doc of this.filteredDocs | keyvalue: creationTimeOrder">
    <mat-card>
      <mat-card-header>
          <mat-form-field appearance="outline" class="fullWidthField">
            <mat-label>Name</mat-label>
            <input matInput type="text" [ngModel]="doc.value.name" (keydown.enter)="this.updateNameForDoc(doc.value,name.value)" #name>
            <button [disabled]="!name.value" matSuffix mat-icon-button aria-label="Save" (click)="this.updateNameForDoc(doc.value,name.value)" i18n-aria-label>
              <mat-icon>save</mat-icon>
            </button>
          </mat-form-field>
        <img mat-card-sm-image  mat-card-avatar [src]="this.dataService.getFilePreview(doc.value.fileid)">
      </mat-card-header>
      <mat-card-content>
        <span i18n>Created on {{doc.value.creationTime | date}}</span>
        <div class="tagsDiv">
          <h5 i18n>Tags</h5>
          <mat-chip-list aria-label="Document tags" i18n-aria-label>
            <mat-chip color="primary" selected *ngFor="let tag of doc.value.tags" removable="true" (removed)=
            "this.removeTagFromDoc(doc.value,tag)">{{tag}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          </mat-chip-list>
          <br />
          <mat-form-field appearance="fill">
            <mat-label i18n>Add a tag</mat-label>
            <input matInput type="text" (keydown.enter)="addTagToDoc(doc.value,newTag.value)" #newTag>
            <button [disabled]="!newTag.value" matSuffix mat-icon-button aria-label="Add" (click)="addTagToDoc(doc.value,newTag.value)" i18n-aria-label>
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div *ngIf="doc.value.cards">
          <span i18n>{{doc.value.cards.length}} Cards</span>
        </div>
      </mat-card-content>
      <mat-card-actions class="cardActions">
        <a mat-flat-button target="_blank" [href]="this.dataService.getFileView(doc.value.fileid).href" i18n>View document</a>
        <button mat-flat-button color="primary" routerLink="/documents/{{doc.value.$id}}/cards/" i18n>View cards</button>
        <button mat-flat-button color="accent" routerLink="/create/from-document/{{doc.value.$id}}" i18n>Create cards</button>

        <button mat-flat-button color="warn" (click)="deleteDocument(doc.value)" i18n>Delete</button>
      </mat-card-actions>
    </mat-card>

 
  </div>
  </div>
  </div>