<div class="noteActions">
    <br/>
    <button mat-flat-button color="accent" [routerLink]="'/notes/folder/'+folderPath">
        <mat-icon>arrow_back_ios</mat-icon>
        Back
    </button>
    <br/>
    <br/>
    <button mat-flat-button color="primary" [routerLink]="'/notes/'+noteEntry?.$id + '/edit'">
        <mat-icon>edit</mat-icon>
        Edit
    </button>
    <br/>
    <br/>
    <button mat-flat-button (click)="downloadMD()">
        <mat-icon>text_snippet</mat-icon>
        Download MD
    </button>
</div>
<h1>{{noteEntry?.title}}</h1>
<pre>{{noteEntry?.path}}</pre>
<div class="card note" #innerNoteEl [innerHTML]="safeContent"> 
    
</div>

<app-graph *ngIf="noteEntry" [noteID]="noteEntry.$id" #noteGraph></app-graph>
